<footer class="text-white " style="background-color: rgb(249,66,58)" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md">
                <hr>
                <img th:src="@{/img/logo.png}" style="width: 200px">
                <hr>
                <small class="d-block mb-3" >© Store 2 Door</small>

            </div>
            <div class="col-6 col-md">
                <hr>
                <h5>About us</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Store 2 Door is an online supermarket where
                    you can choose and order groceries and have
                    them delivered to your door
                </p>
            </div>

            <div class="col-6 col-md">
                <hr>
                <h5>Frequently visited pages</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a style="color: white;"  href="/products">Products</a></li>
                    <li><a style="color: white;" href="/calendar">Reserve delivery time</a></li>
                </ul>
            </div>


            <div class="col-6 col-md">
                <hr>
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> Store 2 door</li>
                    <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 389 70 123 456</li>
                    <li><i class="fa fa-print mr-2"></i> + 389 02 123 456</li>
                </ul>
            </div>


        </div>
    </div>
</footer>
